<div class="register-component">
  <h1 class="register">
  Register
</h1>

<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit($event)" [ngClass]= "{showValidator: submitted}">
  
  <input type="text" placeholder="Name" formControlName="name"/>
  <input type="number" placeholder="Age" formControlName="age"/>

    <select formControlName="job_id">
      <option [value]="NO_JOB_SELECTED">Select a Job</option>
      <option *ngFor="let job of marsJobs" [value]="job.id">{{ job.name }} </option>
    </select>
    <div class="button">
     <button> Check in</button>
    </div>
</form>
</div>
